@using VideoHostingService.Models

@inject VideoHostingService.Utilities.IHumanTimeService HumanTimeService

<div class="video_comment">
    <p class="video_comment_title">Joe Doe <span>-</span> @HumanTimeService.PrettyTimeDifference(VideoComment.CreatedAt.LocalDateTime, DateTime.Now) </p>
    <p class="video_comment_comment">@VideoComment.Text</p>
</div>

@code{
    [Parameter]
    public VideoComment VideoComment { get; set; }
}