@page "/"
@inject VideoHostingService.Services.IVideoService VideoService

@if(videos == null)
{
    <p>Something went wrong</p>
}
else 
{
    <PageTitle>Home</PageTitle>

    <div class="video_grid">
        @foreach(var video in videos){
        <div class="video_big_card">
            <img class="video_big_card_thumbnail" src="{@video.ThumbnailLocation}" />
            <p class="video_big_card_title">{@video.Title}</p>
        </div>
        }
    </div>
}

@code {
    private List<Models.Video>? videos;
    
    protected override async Task OnInitializedAsync()
    {
        videos = await VideoService.GetVideos(50);
    }

    void OpenVideo(){

    }
}