@page "/"
@inject VideoHostingService.Services.IVideoService VideoService

<PageTitle>Home</PageTitle>

@foreach(var video in videos){
        <p>{@video.Title}</p>
}

@code {
    private List<Models.Video> videos;
    
    protected override async Task OnInitializedAsync()
    {
        videos = await VideoService.GetVideos();
    }

    void OpenVideo(){

    }
}