@page "/video/{Id:string}"
@attribute [StreamRendering]
@inject VideoHostingService.Services.IVideoService VideoService

@if(video == null)
{
    <p>Video not found.</p>
}
else
{
    <h1 class="video_item_title">@video.Title</h1>
    <div id="target"></div>
    <div>
        <p>@video.Description</p>
    </div>
    @foreach(var comment in video.Comments){
        <Comment VideoComment="comment" />
    }
}

@code {
    [Parameter]
    public string Id { get; set; } = "";

    private Models.Video? video;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var videoId = Guid.Parse(Id);
            video = VideoService.GetVideoById(videoId);
        }
        catch(Exception e)
        {

        }
    }
}
    